<?xml version="1.0" encoding="UTF-8"?>
<plugin nome="Simulador Experimentos" versao="1.0.0" classe="br.simulador.plugin.SimuladorExperimentos">
    <descricao>Plugin que permite a criação de experimentos virtuais e/ou naturais utilizando os conceitos
        do modelamento bifocal</descricao>
    <autores>
        <autor nome="Douglas Breda" email="bredadouglas@gmail.com"/>
    </autores>    
</plugin>
