<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<plugin nome="Simulador Experimentos" versao="1.0.0" classe="br.simulador.plugin.SimuladorExperimentos">
    <descricao>Plugin que permite a criação de experimentos virtuais e/ou naturais utilizando os conceitos
        do modelamento bifocal</descricao>
    <autores>
        <autor nome="Douglas Breda" email="bredadouglas@gmail.com"/>
    </autores>    
</plugin>
